* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: 'Playfair Display', serif;
}
.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
  color: #707070;
}
.nav-links a:hover {
  color: #F6CAF1;
}
.nav-links li {
  list-style: none;
}
h1 {
  font-family: 'Lora', serif;
  color: #707070;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3em;
}
h2, h5{
  color: #707070;
  font-size: 22px;
  font-family: 'Lora', serif;;
}
p {
  font-family: 'Lora', serif;
  display: flex;
  font-size: 18px;
}
.wrapper {
  float: right;
  margin-left: 510px;
  margin-right: 5em;
  margin-top: 6em;
  line-height: 2.5em;
}
.portrait img{
  max-width:25%;
  max-height:25%;
  margin-left: 5em;
  margin-bottom: 5em;
  margin-top: -30em;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 5em;
  grid-gap: 15px;    
}
.row img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ebdbe6;
  display: block;
}
.inner-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.footer-items {
  width: 25%;
  padding: 5px 10px;
  box-sizing: border-box;
}
h2 {
  padding-left: 5em;
}
h4 {
  padding: 10px 0;
  font-size: 25px;
  color: #707070;
  text-transform: uppercase; 
  margin: 15px 0;
}
h5 {
  margin: 0;
  padding-top: 1em;
  padding-bottom: .5em;
}
.footer-items p {
  color: #707070;
  font-size: 14px;
  text-align: justify;
  font-family: 'Lora', serif;
  line-height: 1.8em;
}
.border {
  line-height: 2em;
  padding-left: 2.3em;
}
.icons1 ul  {
  padding-left: 8em;
  padding-top: 3.5em;
  letter-spacing: 15px;
}
ul {
  list-style: none;
  color: #707070;
  font-size: 15px;
  letter-spacing: 4px;
  padding-left: 80px;
  text-transform: uppercase;
  font-family:'Playfair Display', serif;
}
ul a {
  text-decoration: none;
  outline: none;
  color: #707070;
  transition: 0.3s;
}
ul a:hover {
  color: #fff;
}
.contact {
  background-color: #ebdbe6;
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  padding: 1em;
  margin: auto;
}
h3 {
  text-align: center;
  font-size: 2em;
  color: #4F4F4D;
  font-family: 'Lora', serif;
}
button {
  background-color: #707070;
  border-color: #525252;
  font-weight: bold;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 22%;
  padding-top: .5em;
  padding-bottom: .5em;
}
button:hover {
  background-color: #555;
}
@media screen and (max-width:768px) {
  .contact {
    max-width: 35rem; 
    margin: 2em;
    font-size: 1rem;
    text-align: left;
  }
  input {
    width: 100%;
    padding-bottom: .5em;
  }
  textarea {
      width: 100%;
      padding-bottom: 1em;
  }
  h5 {
    margin: 0;
    padding-top: 1em;
  }
  .footer-items p {
    padding: 0;
    padding-bottom: 1.5em;
    margin: 0;
  }
  h2 {
    padding-left: 3em;
  }
  .footer-items ul {
    padding-left: 2.5em;
    padding-top: 0;
  }
  .footer-items {
    width: 30%;
    padding: 0;
  }
  .portrait img {
    max-width:50%;
    max-height:50%;
    margin: 40em;
    margin-left: 8em;
  }
  .wrapper {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 28em;
  }
  .icons1 {
    letter-spacing: 1px;
    margin: auto;
  }
}
@media(min-width:768px){
  .contact {
      margin: 3.5em;
      text-align: left;
      font-size: 1.5rem;
  }
  .labels {
      width: 95%;
      float: left;
      margin-left: 1.2em;
      margin-right: 1em;
  }
  label[for="message"] {
      line-height: 2.5em;
      margin-left: 1.2em;
  }
  label[for="email"] {
      line-height: 2em;
      margin-left: 1.2em;
  }
  input[type="email"] {
      width: 95%;
      margin-left: 2em;
  }
  input {
      width: 100%;
      padding-bottom: 1em;
  }
  textarea {
      width: 95%;
      padding-bottom: 3em;
      margin-left: 2em;
  }
  button {
      width: 20%;
      padding: .5em;
      font-size: 1.5rem;
      display: block;
      margin-left: 1.2em;
  } 
}
@media(max-width:992px){
  .row {
    grid-template-columns: repeat(3, auto);
    margin: 2em;
    grid-gap: 10px;  
  }
  .portrait img {
    max-width:40%;
    max-height:40%;
    width: 100%;
    margin: 2em;
    margin-left: 16em;
    margin-top: auto;
  }
  .wrapper {
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 2em;
    margin: auto;
    text-align: center;
  }
}
@media(max-width:600px){
  .row {
    grid-template-columns: repeat(2, auto);
    margin: 2em;
    grid-gap: 12px;    
  }
  h5 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-items p {
    padding: 0;
    margin: 0;
  }
  h2 {
    padding-left: 0;
  }
  .icons1 ul  {
    padding-left: 8em;
    padding-top: 3.5em;
    letter-spacing: 15px;
    padding-top: 0;
    padding-bottom: .5em;
  }
  .footer-items ul {
    padding-left: 0;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
  }
  .footer-items {
    width: 90%;
    padding: 0;
  }
  .footer-items p, h5, h2 {
    display: none;
  }
  .nav-links {
    width: 100%;
  }
  .portrait img {
    max-width:50%;
    max-height:50%;
    margin: 40em;
    margin-left: 8em;
    margin-top: -62em;
  }
  .wrapper {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 28em;
  }
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 25px;
  }
}
@media(min-width:1087px) {
  .labels {
    width: 44%;
  }
}